body {
    background: url("../images/background.jpg") 50% 0 no-repeat fixed;
    font-family: 'Abel', sans-serif;
    min-height: 100vh;
}

body::after {
    content: "";
    background:  rgba(255,255,255,.6);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

/* .background {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity:0.3;
} */

.container {
    padding-top: 30px;
}

.stuff-details .plotly-graph-div {
    margin-top: 30px;
}

.add-stuff-form > p > label, select, input {
    display:block;
}

.red {
    color: red;
}

.green {
    color:green;
}