{% extends "base.html" %}
{% block content %}
{% if resource %}
<div class="resource-details">
    <div class="card">
        <div class="card-header">
            {{ resource.name }} ({{ resource.symbol }})
        </div>
        {% comment %} <ul class="list-group list-group-flush">
            <li class="list-group-item">Bought {{ stuff.days_duration }} days ago</li>
            <li class="list-group-item">{{stuff.date_of_purchase}}: {{ stuff.previous_price }} USD/{{ stuff.units }}</li>
            <li class="list-group-item">{{today}}: {{ stuff.actual_price }} USD/{{ stuff.units }}</li>
            <li class="list-group-item">Change: <span class="{% if stuff.percent_change > 0 %} green {% else %} red {% endif %}">{{ stuff.percent_change }}</span>%</li>
            <li class="list-group-item">Profit: <span class="{% if stuff.value_change > 0 %} green {% else %} red {% endif %}">{{ stuff.value_change }}</span> USD</li>
        </ul> {% endcomment %}
    </div>
{% autoescape off %}
  {{ plot_div }}
{% endautoescape %}
</div>
{% else %}
<p>No resource are available.</p>
{% endif %}
{% endblock %}