{% extends "base.html" %}
{% block content %}
{% if stuff %}
<div class="stuff-details">
{% comment %} <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ stuff.name }} ({{stuff.quantity}})</h5>
        <p class="card-text">You buy {{stuff.quantity}} x {{ stuff.name }} on {{stuff.date_of_purchase}} by {{stuff.price_per_item}} USD for each</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Duration: {{ stuff.days_duration }} days</li>
        <li class="list-group-item">
            <p>{{stuff.date_of_purchase}}: {{ stuff.previous_price }} USD/{{ stuff.units }}</p>  
            <p>{{today}}: {{ stuff.actual_price }} USD/{{ stuff.units }}</p> 
        </li>
        <li class="list-group-item">Change: <span class="green{% if stuff.percent_change > 0 %} red{% endif %}">{{ stuff.percent_change }}</span>%</li>
        <li class="list-group-item">Profit: <span class="green{% if stuff.percent_change > 0 %} red{% endif %}">{{ stuff.value_change }}</span> USD</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Details</a>
        <a href="#" class="card-link">Remove</a>
    </div>
</div> {% endcomment %}


<div class="card">
    <div class="card-header">
        {{ stuff.name }} ({{stuff.quantity}})
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Bought {{ stuff.days_duration }} days ago</li>
        <li class="list-group-item">{{stuff.date_of_purchase}}: {{ stuff.previous_price }} USD/{{ stuff.units }}</li>
        <li class="list-group-item">{{today}}: {{ stuff.actual_price }} USD/{{ stuff.units }}</li>
        <li class="list-group-item">Overpay: <span class="{% if stuff.overpay < 0 %} green {% else %} red {% endif %}">{{ stuff.overpay }}</span> USD</li>
        <li class="list-group-item">Change: <span class="{% if stuff.percent_change > 0 %} green {% else %} red {% endif %}">{{ stuff.percent_change }}</span>%</li>
        <li class="list-group-item">Profit: <span class="{% if stuff.value_change > 0 %} green {% else %} red {% endif %}">{{ stuff.value_change }}</span> USD</li>
    </ul>
</div>
{% autoescape off %}
  {{ plot_div }}
{% endautoescape %}
</div>
{% else %}
<p>No stuffs are available.</p>
{% endif %}
{% endblock %}