{% extends "base.html" %}
{% block content %}
{% if stuff_objects %}
<div class="stuff-list">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Resource</th>
        <th scope="col">Duration</th>
        <th scope="col">Change (%)</th>
        <th scope="col">Profit (USD)</th>
      </tr>
    </thead>
    <tbody>
      {% for stuff in stuff_objects %}
      <tr>
        <th scope="row">{{stuff.id}}</th>
        <td><a href="{% url 'stuff_details' stuff.id %}">
          {{ stuff.name }} 
          {% if stuff.quantity > 1 %} ({{ stuff.quantity }}) {% else %} {% endif %}</a></td>
        <td>{{ stuff.symbol }}</td>
        <td>{{ stuff.days_duration }}</td>
        <td><span class="{% if stuff.percent_change > 0 %} green {% else %} red {% endif %}">{{ stuff.percent_change }}</span></td>
        <td><span class="{% if stuff.value_change > 0 %} green {% else %} red {% endif %}">{{ stuff.value_change }}</span></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ instruments }}
</div>
{% else %}
<p>No stuffs are available.</p>
{% endif %}
{% endblock %}